body {
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
     display: flex;
     justify-content:center;
     align-items: center;
     height: 100vh;
     background: linear-gradient(to right,#ff758c,#ff7eb3);

}
.container {
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1)

}
h1{
    font-size: 3em;
    color:#ff758c;
    margin-bottom: 20px;
}
p{
    font-size: 1.2em;
    color:#555;
    margin-bottom: 20px;
}
.join button{
    background: #ff758c;
    color:white;
    padding: 15px 30px;
    font-size: 1em;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.join-button:hover{
    background:#ff5b70;
}